<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to JOGL!</title>

  <style type="text/css">
    p {
      margin: 10px 0;
      padding: 0;
    }

    table {
      border-collapse: collapse;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0;
      padding: 0;
    }

    img,
    a img {
      border: 0;
      height: auto;
      outline: none;
      text-decoration: none;
    }

    body,
    #bodyTable,
    #bodyCell {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .mcnPreviewText {
      display: none !important;
    }

    #outlook a {
      padding: 0;
    }

    img {
      -ms-interpolation-mode: bicubic;
    }

    table {
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    .ReadMsgBody {
      width: 100%;
    }

    .ExternalClass {
      width: 100%;
    }

    p,
    a,
    li,
    td,
    blockquote {
      mso-line-height-rule: exactly;
    }

    a[href^=tel],
    a[href^=sms] {
      color: inherit;
      cursor: default;
      text-decoration: none;
    }

    p,
    a,
    li,
    td,
    body,
    table,
    blockquote {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass td,
    .ExternalClass div,
    .ExternalClass span,
    .ExternalClass font {
      line-height: 100%;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    .templateContainer {
      max-width: 600px !important;
    }

    a.mcnButton {
      display: block;
    }

    .mcnImage,
    .mcnRetinaImage {
      vertical-align: bottom;
    }

    .mcnTextContent {
      word-break: break-word;
    }

    .mcnTextContent img {
      height: auto !important;
    }

    .mcnDividerBlock {
      table-layout: fixed !important;
    }

    h1 {
      color: #222222;
      font-family: Helvetica;
      font-size: 40px;
      font-style: normal;
      font-weight: bold;
      line-height: 150%;
      letter-spacing: normal;
      text-align: center;
    }

    h2 {
      color: #222222;
      font-family: Helvetica;
      font-size: 34px;
      font-style: normal;
      font-weight: bold;
      line-height: 150%;
      letter-spacing: normal;
      text-align: left;
    }

    h3 {
      color: #444444;
      font-family: Helvetica;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
      line-height: 150%;
      letter-spacing: normal;
      text-align: center;
    }

    h4 {
      color: #949494;
      font-family: Georgia;
      font-size: 20px;
      font-style: italic;
      font-weight: normal;
      line-height: 125%;
      letter-spacing: normal;
      text-align: left;
    }

    #templateHeader {
      background-color: #ffffff;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-top: 0;
      border-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .headerContainer {
      background-color: #transparent;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .headerContainer .mcnTextContent,
    .headerContainer .mcnTextContent p {
      color: #757575;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 150%;
      text-align: left;
    }

    .headerContainer .mcnTextContent a,
    .headerContainer .mcnTextContent p a {
      color: #007C89;
      font-weight: normal;
      text-decoration: underline;
    }

    #templateBody {
      background-color: #fffcfc;
      background-image: url("https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/138b0e9d-0b6b-477c-880e-9535842052e6.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 27px;
      padding-bottom: 54px;
    }

    .bodyContainer {
      background-color: #transparent;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .bodyContainer .mcnTextContent,
    .bodyContainer .mcnTextContent p {
      color: #757575;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 150%;
      text-align: left;
    }

    .bodyContainer .mcnTextContent a,
    .bodyContainer .mcnTextContent p a {
      color: #000000;
      font-weight: bold;
      text-decoration: underline;
    }

    #templateFooter {
      background-color: #333333;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .footerContainer {
      background-color: #transparent;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .footerContainer .mcnTextContent,
    .footerContainer .mcnTextContent p {
      color: #FFFFFF;
      font-family: Helvetica;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
    }

    .footerContainer .mcnTextContent a,
    .footerContainer .mcnTextContent p a {
      color: #FFFFFF;
      font-weight: normal;
      text-decoration: underline;
    }

    @media only screen and (min-width:768px) {
      .templateContainer {
        width: 600px !important;
      }

    }

    @media only screen and (max-width: 480px) {

      body,
      table,
      td,
      p,
      a,
      li,
      blockquote {
        -webkit-text-size-adjust: none !important;
      }

    }

    @media only screen and (max-width: 480px) {
      body {
        width: 100% !important;
        min-width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnRetinaImage {
        max-width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnImage {
        width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .mcnCartContainer,
      .mcnCaptionTopContent,
      .mcnRecContentContainer,
      .mcnCaptionBottomContent,
      .mcnTextContentContainer,
      .mcnBoxedTextContentContainer,
      .mcnImageGroupContentContainer,
      .mcnCaptionLeftTextContentContainer,
      .mcnCaptionRightTextContentContainer,
      .mcnCaptionLeftImageContentContainer,
      .mcnCaptionRightImageContentContainer,
      .mcnImageCardLeftTextContentContainer,
      .mcnImageCardRightTextContentContainer,
      .mcnImageCardLeftImageContentContainer,
      .mcnImageCardRightImageContentContainer {
        max-width: 100% !important;
        width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnBoxedTextContentContainer {
        min-width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnImageGroupContent {
        padding: 9px !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .mcnCaptionLeftContentOuter .mcnTextContent,
      .mcnCaptionRightContentOuter .mcnTextContent {
        padding-top: 9px !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .mcnImageCardTopImageContent,
      .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
      .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
        padding-top: 18px !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnImageCardBottomImageContent {
        padding-bottom: 9px !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnImageGroupBlockInner {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcnImageGroupBlockOuter {
        padding-top: 9px !important;
        padding-bottom: 9px !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .mcnTextContent,
      .mcnBoxedTextContentColumn {
        padding-right: 18px !important;
        padding-left: 18px !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .mcnImageCardLeftImageContent,
      .mcnImageCardRightImageContent {
        padding-right: 18px !important;
        padding-bottom: 0 !important;
        padding-left: 18px !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mcpreview-image-uploader {
        display: none !important;
        width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 30px !important;
        line-height: 125% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h2 {
        font-size: 26px !important;
        line-height: 125% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h3 {
        font-size: 20px !important;
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h4 {
        font-size: 18px !important;
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .mcnBoxedTextContentContainer .mcnTextContent,
      .mcnBoxedTextContentContainer .mcnTextContent p {
        font-size: 14px !important;
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .headerContainer .mcnTextContent,
      .headerContainer .mcnTextContent p {
        font-size: 16px !important;
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .bodyContainer .mcnTextContent,
      .bodyContainer .mcnTextContent p {
        font-size: 16px !important;
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {

      .footerContainer .mcnTextContent,
      .footerContainer .mcnTextContent p {
        font-size: 14px !important;
        line-height: 150% !important;
      }

    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <tbody>
  <tr>
    <td align="center" valign="top" id="templateBody" data-template-container=""
      style="background:#fffcfc url(&quot;https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/138b0e9d-0b6b-477c-880e-9535842052e6.png&quot;) no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #fffcfc;background-image: url(https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/138b0e9d-0b6b-477c-880e-9535842052e6.png);background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 27px;padding-bottom: 54px;">

      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
        style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;max-width: 600px !important;">
        <tbody>
          <tr>
            <td valign="top" class="bodyContainer"
              style="background:#transparent none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0"
                        style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" class="mcnTextContentContainer">
                        <tbody>
                          <tr>
                            <td valign="top" class="mcnTextContent"
                              style="padding: 0px 18px 9px;color: #666666;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">
                              <h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #222222;font-family: Helvetica;font-size: 40px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;">
                                <span style="font-size:20px">
                                  <span style="color:#4F00BC">
                                    <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif">
                                      <%= t(:welcome).capitalize + ' ' + @resource.first_name + ' ' + @resource.last_name %>!
                                    </span>
                                  </span>
                                </span>
                              </h1>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0"
                        style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" class="mcnTextContentContainer">
                        <tbody>
                          <tr>
                            <td valign="top" class="mcnTextContent"
                              style="padding: 0px 18px 9px;color: #666666;line-height: 125%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-family: Helvetica;font-size: 16px;text-align: left;">
                              <p style="text-align: center;color: #666666;line-height: 125%;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size: 16px;">
                                <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif; text-align:justify">
                                  <strong>Thank you&nbsp;</strong>for deciding to join Just One Giant Lab.<br>
                                  <br>
                                  You are one click away from being part of our wonderful community</span><br>
                                <span style="color:#2A6BFD"><strong>Please confirm your email using the link below</strong></span><br>
                                <br>
                                <%= link_to t('.confirm_account_link'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0"
                        style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" class="mcnTextContentContainer">
                        <tbody>
                          <tr>
                            <td valign="top" class="mcnTextContent"
                              style="padding: 0px 18px 9px;color: #666666;line-height: 125%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-family: Helvetica;font-size: 16px;text-align: left;">
                              <p style="text-align: center;color: #666666;line-height: 125%;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size: 16px;">
                                <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif; text-align:justify">The JOGL team,&nbsp;</span><br>
                                <br>
                                <img data-file-id="938219" height="166" src="https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/55547561-5d14-47cd-96d7-ac365a4b3999.jpg"
                                  style="border: 0px;width: 250px;height: 166px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="250"></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>

  <!-- FOOTER -->
</body>
